# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editor specific specific
*.idea
*.vscode
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
Data/txt/*